.book-grid{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.book-card{
    background:white;
    border-radius:16px;
    padding:22px;
    box-shadow:0 8px 24px rgba(0,0,0,.12);

    display:flex;
    gap:28px;
    align-items:flex-start;
}

.book-card img{
    width:150px;
    height:220px;
    object-fit:contain;
    border-radius:10px;
    background:#f2f2f2;
}

.book-info{
    flex:1;
}

.book-info h3{
    font-size:24px;
    color:#4f7b5c;
    margin-bottom:18px;
}

.book-info p{
    font-size:16px;
    line-height:1.7;
    margin-bottom:10px;
    color:#333;
}

.genre{
    color:#333 !important;
    font-weight:normal;
}

.status{
    display:inline-block;
    background:#50c878;
    color:white !important;
    padding:8px 16px;
    border-radius:12px;
    font-weight:bold;
    margin-bottom:12px;
}

.read-btn{
    display:inline-block;
    margin-top:14px;
    background:#5c8568;
    color:white;
    text-decoration:none;
    padding:14px 28px;
    border-radius:50px;
    font-weight:bold;
}

.read-btn:hover{
    background:#45684f;
}
