*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#f5f7fb;
    color:#333;
}

header{

    height:75px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.logo{

    font-size:28px;

    font-weight:bold;

    color:#3cb6a3;

}

nav{

    display:flex;

    gap:35px;

}

nav a{

    text-decoration:none;

    color:#555;

    font-size:17px;

    transition:.3s;

}

nav a:hover{

    color:#3cb6a3;

}

.hero{

    max-width:1100px;

    margin:80px auto;

    background:white;

    border-radius:20px;

    padding:80px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.05);

}

.quote{
    font-size:28px;        /* Cỡ chữ */
    font-style:italic;     /* In nghiêng */
    font-weight:400;       /* Không quá đậm */
    color:#555;
    line-height:1.8;
    text-align:center;
    margin:12px 0;
}
